@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy-Regular.ttf);
}

body {
    background: #ffffff;
    font-family: Gilroy-Regular;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

