.nav_button-wrapper {
    min-width: 600px;
}

.nav_button {
    width: 140px;
    min-height: 110px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .nav_button + .nav_button {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .nav_button + .nav_button {
        margin-left: 5px;
    }
}
