.nav_button-wrapper {
    min-width:570px;
}

.nav_button {
    width: 130px;
    min-height: 120px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .nav_button + .nav_button {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .nav_button + .nav_button {
        margin-left: 5px;
    }
}