.home__carouselWrapper {
    width: 420px;
    height: 720px;
    padding: 120px 60px;
    margin: 0 auto;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-image: url(../../../images/iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 767.98px) {
    .home__carouselWrapper {
        width: 315px;
        height: 540px;
        padding: 90px 45px;
        margin: 0 auto;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-image: url(../../../images/iphone.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media (min-width: 767.98px) {
    .home__formWrapper {
        width: 600px;
        margin: 0 auto;
    }
}