@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h2>JWT в ASP.NET Core Web API</h2>
</div>

<h3>Вход на сайт</h3>

<div class="userInfo mb-2" style="@(User.Identity.IsAuthenticated ? "" : "display:none;")">
    <p>Вы вошли как: <span class="userName">@User.Identity.Name</span></p>
    <input type="button" class="btn btn-danger" value="Выйти" id="logOut" />
</div>

<div class="loginForm mb-2" style="@(User.Identity.IsAuthenticated ? "display:none;" : "")">

    <div class="form-group mb-2">
        <input type="text" id="login" class="form-control" placeholder="Login" />
    </div>

    <div class="form-group mb-2">
        <input type="password" id="password" class="form-control" placeholder="Password">
    </div>

    <input type="submit" class="btn btn-success" id="submitLogin" value="Вход" />
</div>

<div class="mb-2">
    <input type="submit" class="btn btn-primary" id="getDataByLogin" value="Данные по логину" />
</div>

<div class="mb-2">
    <input type="submit" class="btn btn-info" id="getDataByRole" value="Данные по роли" />
</div>
